<p>
  Hi {{ first_name }},
</p>
<p>
  Your request to enroll in course {{ course }} has been accepted.
</p>
<p>
  The course classrooms are as follows:
</p>
<ul>
  {% for classroom in classrooms %}
  <li>
    {{ classroom }} {% if classroom.recurring.rule %}: {{ classroom.recurring.rule }} {% endif %} from
    {{ classroom.start_date }} to {{ classroom.end_date }}
    {% if classroom.recurring.end_recurring_period %} until {{ classroom.recurring.end_recurring_period }} {% endif %}
  </li>
  {% endfor %}
</ul>
<p>
  Best regards,<br />
  {{ site_name }}
</p>