<section class="main-content">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 col-sm-12">
      <h4 class="m-0">My Courses</h4>
    </div>
    <div class="col-md-6 col-sm-12 btns">
      <a [routerLink]="['/courses/add']" class="btn btn-icon btn-primary" *ngIf="user?.role === 'teacher'">
        <i-feather name="folder-plus"></i-feather>
        Add Course
      </a>
      <a [routerLink]="['/courses/recommended']" class="btn btn-icon btn-secondary" *ngIf="user?.role === 'student'">
        <i-feather name="heart"></i-feather>
        Recommended
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 d-flex">
      <div class="spinner-border text-primary" role="status" *ngIf="loadingUserCourses">
        <span class="sr-only">Loading...</span>
      </div>
      <p *ngIf="!loadingUserCourses && enrolledCourses?.length <= 0; else showEnrolledCourses">
        <span *ngIf="user?.role === 'student'; else showTeacherMessage">
          You haven't yet been enrolled to a course. See <a [routerLink]="['/courses/recommended']">recommended
            courses</a>
        </span>
        <ng-template #showTeacherMessage>
          <span>You haven't yet created a course.</span>
        </ng-template>
      </p>
      <ng-template #showEnrolledCourses>
        <div *ngIf="!loadingUserCourses">
          <app-course-card [course]="course" *ngFor="let course of enrolledCourses"></app-course-card>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="getUserEnrolledCourses()" aria-label="Courses pagination"></ngb-pagination>
        </div>
      </ng-template>
    </div>
  </div>
</section>
