<section class="main-content">
  <div class="row">
    <div class="col-6">
      <h4>Recommended Courses</h4>
    </div>
    <div class="col-6">
      <select class="custom-select float-right" style="width: unset;" [(ngModel)]="selectedLevel"
        (change)="getUserRecommendedCourses(selectedLevel)">
        <option selected value="0">All</option>
        <option [value]="level?.id" *ngFor="let level of levels">{{ level?.name }}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <p class="col-12" *ngIf="recommendedCourses?.length <= 0 && !loadingCourses; else showRecommendedCourses">
      There are no matching courses.
    </p>
    <ng-template #showRecommendedCourses>
      <div class="mr-3" *ngFor="let course of recommendedCourses">
        <app-course-card [course]="course"></app-course-card>
      </div>
    </ng-template>
  </div>
</section>
